# ------------------------------
# Core Scientific Libraries
# ------------------------------
numpy>=1.22
matplotlib>=3.5
scipy>=1.8

# ------------------------------
# Machine Learning
# ------------------------------
scikit-learn>=1.0

# ------------------------------
# Deep Learning
# ------------------------------
tensorflow>=2.9
torch>=1.12